.button {
  $this: &;
  padding: .5rem 1rem;
  background: #343434;
  outline: none;
  border: 1px solid #343434;
  border-radius: .5rem;
  cursor: pointer;
  transition: .5s;

  &:hover {
    background: #686868;
    border: 1px solid #686868;
    transition: .5s;
  }

  &__text {
    color: white;
  }
}